<div class="container">
  <h4>商品詳細</h4>
  <div class="row">
   <div class="col-lg-12">
    <table class="table table-striped">
      <tr>
        <td><%= image_tag @item.get_image , size: "200x200" %></td>
        <td>
          <p>商品名</p>
          <p>商品説明</p>
          <p>ジャンル</p>
          <p>税込価格<br>(税抜価格)</p>
          <p>販売ステータス</p>
        </td>
        <td>
          <p><%= @item.name %></p>
          <p><%= @item.introduction %></p>
          <p><%= @item.genre.name %></p>
          <p><%= @item.with_tax_price %></br>
          (<%= @item.price %>)円</p>
          <p>
          <% if @item.is_active %>
          <p>販売中</p>
          <% else %>
          <p>販売停止中</p>
          <% end %>
          
          </p>
        </td>
      </tr>
    </table>
   </div>
  </div>
  <div class="row">
      <%= button_to "編集する",edit_admin_item_path, method: :get %>
  </div>
</div>
