<div class="container">
 <h4>注文情報確認</h4>
 <div class="row">
   <div class="col-lg-8">
    <table class="table table-striped">
     <thead>
     <tr>
      <td>商品名</td>
      <td>単価（税込）</td>
      <td>数量</td>
      <td>小計</td>
     </tr>
    </thead>
    <tbody>
     <% @cart_items.each do |cart_item| %>
     <tr>
      <td><%= cart_item.item.name %></td>
      <td><%= cart_item.item.with_tax_price %></td>
      <td><%= cart_item.amount %></td>
      <td><%= cart_item.subtotal %></td>
     </tr>
     <% end %>
    </tbody>
    </table>
   </div>
   <div class="col-lg-2">
     <p>送料</p>
     <p>商品合計</p>
     <p>請求金額</p>
   </div>
   <div class="col-lg-2">
     <p>800円</p>
     <p><%= @subtotal.round.to_s(:delimited)%></p>
     <p><%= @total.round.to_s(:delimited)%></p>
   </div>
 </div>
 <div class="row">
  <div class="col-lg-12">
   <strong>支払い方法</strong>
   <p><%= @order.params[:order][:payment_method_number] %></p>
  </div>
 </div>
</div>