<div class="container">
 <div class="row">
   <div class="col-lg-12"><h4>注文履歴一覧</h4></div>
 </div>
 <div class="row">
  <div class="col-lg-12">
   <table class="table table-striped">
     <thead>
      <tr>
        <td>注文日</td>
        <td>配送先</td>
        <td>注文商品</td>
        <td>支払い金額</td>
        <td>ステータス</td>
        <td>注文詳細</td>
      </tr>
     </thead>
     <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= orders.address %></td>
        <td><%= orders.item %></td>
        <td><%= orders.payment_method %></td>
        <td><%= order.status_i18n %></td>
        <td><%= button_to "表示する", order_path(order.id) %></td>
      </tr>
      <% end %>
     </tbody>
   </table>
  </div>
 </div>
</div>