<div class="container">
  <div class="row">
    <div class="col-lg-12"><h4>注文履歴詳細</h4></div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped">
        <tr>
          <td><strong>購入者</strong></td>
          <td><%= customer.full_name %></td>
        </tr>
        <tr>
          <td><strong>注文日</strong></td>
          <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td><strong>配送先</strong></td>
          <td><%= orders.address %></td>
        </tr>
        <tr>
          <td><strong>支払方法</strong></td>
          <td><%= orders.payment_method %></td>
        </tr>
        <tr>
          <td><strong>注文ステータス</strong></td>
          <td><%= @order.status_i18n %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped">
        <thead>
         <tr>
          <td>商品名</td>
          <td>単価（税込）</td>
          <td>数量</td>
          <td>小計</td>
          <td>製作ステータス</td>
         </tr>
        </thead>
        <tbody>
         <% @orders.each do |order| %>
          <tr>
           <td><%= order_detail.name %></td>
           <td><%= order.item.with_tax_price %></td>
           <td><%= order_details.amount %></td>
           <td></td>
           <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>