<div class="container">
 <div class="row">
  <div class="col-lg-2" style="background-color: orange;">

   <thead>
    <tr>ジャンル検索</tr>
   </thead>

   <tbody>
    <% @genres.each do |genre| %>
    <p><%= genre.name %></p>
    <% end %>
   </tbody>
  </div>

  <div class="col-lg-10">
   <table class="table table-striped">

    <thead>
     <tr>
      <th></th>
     </tr>
    </thead>

    <tbody>
     <tr>
      <th>
       <h2>
        ようこそ、ながのCAKEへ<br>
        このサイトは、ケーキ販売のECサイトになります<br>
        会員でない方も閲覧はできますが、<br>
        購入には会員登録が必要になります
       </h2>
      </th>
     </tr>
    </tbody>
   </table>
  </div>
 </div>

  <div class="row">
   <h2>新着商品</h2>
   <% @items.each do |item| %>

   <div class="col-lg-3">
    <p><%= item.name %></p>
    <p><%= item.price %></p>
   </div>

   <div class="col-lg-3">
    <p><%= item.name %></p>
    <p><%= item.price %></p>
   </div>

   <div class="col-lg-2">
    <p><%= item.name %></p>
    <p><%= item.price %></p>
   </div>

   <div class="col-lg-2">
    <p><%= item.name %></p>
    <p><%= item.price %></p>
   </div>
   <% end %>
</div>
